@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


body {
    font-family: "Inria Sans";
}

a {
    color: inherit;
    text-decoration: none;
}



h1 {
    font-weight: normal;
    font-family: "Inria Serif";
    font-size: 3rem;
    text-transform: uppercase;
}

#impressum-button {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 1pt;
}

#impressum-button:hover a {
    text-decoration: underline;
}
